@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400i);

/*
// :root
// () => (--φ, --font-size-♮, --line-height, --vertical-rhythm-guide-url, --vertical-rhythm-guide-position)
*/

:root {
  --φ: 1.618;
  --font-size-♮: 108.33%; /* 17.33px = 13pt */
  --line-height: 1rem * var(--φ); /* 28px = 21pt */
  --vertical-rhythm-guide-url: url(https://basehold.it/i/28/454343);
  --vertical-rhythm-guide-position: 0 18px;
}

/*
// .config｡modular-scale
// (--φ, --line-height) => (--font-size-♯, --line-height-♯, --font-size-♯♯, --line-height-♯♯, --font-size-♯♯♯, --line-height-♯♯♯, --font-size-♯♯♯♯, --line-height-♯♯♯♯)
*/

.config｡modular-scale {
  --font-size-♯: 1rem * var(--φ); /* 28px = 21pt */
  --line-height-♯: var(--line-height); /* 28px = 21pt */
  --font-size-♯♯: 1rem * var(--φ) * var(--φ); /* 45.4px = 34pt */
  --line-height-♯♯: var(--line-height) * 2; /* 56px = 42pt */
  --font-size-♯♯♯: 1rem * var(--φ) * var(--φ) * var(--φ); /* 73.4px = 55pt */
  --line-height-♯♯♯: var(--line-height) * 3; /* 84px = 63pt */
  --font-size-♯♯♯♯: 1rem * var(--φ) * var(--φ) * var(--φ) * var(--φ); /* 118.8px = 89pt */
  --line-height-♯♯♯♯: var(--line-height) * 5; /* 140px = 105pt */
}

/*
// .config｡grid
*/

.config｡grid > body {
  display: grid;
}

/*
// .config｡normalization
*/

.config｡normalization * {
  margin: 0;
  padding: 0;
  transition: 0.25s;
}

.config｡normalization a {
  color: inherit;
  text-decoration: none;
}

.config｡normalization img {
  max-width: 100%;
}

.config｡normalization :focus {
  outline: 2px dotted;
  animation: outline-fade-in 0.75s ease-in-out infinite alternate;
}

@keyframes outline-fade-in {
  0% {
    outline-color: transparent;
  }
}

/*
// .config｡border-box
*/

.config｡border-box {
  box-sizing: border-box;
}

.config｡border-box *,
.config｡border-box ::before,
.config｡border-box ::after {
  box-sizing: inherit;
}

/*
// .config｡vertical-rhythm
// (--font-size-♮, --line-height) => ()
*/

.config｡vertical-rhythm {
  font-size: var(--font-size-♮);
}

.config｡vertical-rhythm > body {
  line-height: calc(var(--line-height));
}

/*
// .config｡vertical-rhythm-guide
// (--vertical-rhythm-guide-url, --vertical-rhythm-guide-position) => ()
*/

.config｡vertical-rhythm-guide {
  background-image: var(--vertical-rhythm-guide-url);
  background-position: var(--vertical-rhythm-guide-position);
}

/*
// .component｡structural｡frame
*/

.component｡structural｡frame {
  position: relative;
}

.component｡structural｡frame > * {
  position: absolute;
  z-index: 1;
}

/*
// .component｡visual｡paper
// (--line-height) => ()
// https://paulund.co.uk/learn-css-box-shadow/
*/

.component｡visual｡paper {
  position: relative;
  margin: calc(var(--line-height)) auto;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
              0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.component｡visual｡paper::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 10px;
  right: 10px;
  height: 100%;
  border-radius: 100px / 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/*
// #this
// (--φ, --font-size-♯, --line-height-♯, --font-size-♯♯♯, --line-height-♯♯♯) => ()
*/

/*???*/
#this {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "header header"
                       "summary contact"
                       "experience experience"
                       "speeches skillset"
                       "speeches languages"
                       "organizations organizations"
                       "education education"
                       "interests interests";
  font-family: 'Alegreya', serif;
  hyphens: auto;
}

#this.component｡visual｡paper {
  width: calc(100vw / var(--φ));
}

#this > header > h1 {
  font-family: 'Alegreya', serif;
  font-weight: normal;
  font-size: calc(var(--font-size-♯♯♯));
  line-height: calc(var(--line-height-♯♯♯));
}

#this > header > .component｡structural｡subheading {
  font-family: 'EB Garamond', serif;
  font-size: calc(var(--font-size-♯));
  line-height: calc(var(--line-height-♯));
  opacity: 0.25;
}

#this > section > h1 {
  font-size: calc(var(--font-size-♯));
  line-height: calc(var(--line-height-♯));
}

#this⟦header⟧ {
  grid-area: header;
  height: calc(100vw / var(--φ) / var(--φ));
}

#this⟦contact⟧ {
  grid-area: contact;
}

#this⟦summary⟧ {
  grid-area: summary;
}

#this⟦experience⟧ {
  grid-area: experience;
}

#this⟦speeches⟧ {
  grid-area: speeches;
}

#this⟦skillset⟧ {
  grid-area: skillset;
}

#this⟦languages⟧ {
  grid-area: languages;
}

#this⟦organizations⟧ {
  grid-area: organizations;
}

#this⟦education⟧ {
  grid-area: education;
}

#this⟦interests⟧ {
  grid-area: interests;
}

/*
// #this⟦header⟧
// (--φ, --line-height) => ()
*/

#this⟦header⟧⟦heading⟧ {
  left: calc(var(--line-height) * 2);
  bottom: calc(var(--line-height) * 1.5);
}

#this⟦header⟧⟦subheading⟧ {
  left: calc(var(--line-height) * 2);
  bottom: calc(var(--line-height) * 0.5);
}

#this⟦header⟧⟦portraiture⟧ {
  height: 102%;
  z-index: 0;
  object-fit: cover;
  object-position: -3px 0;
  clip-path: polygon(0 0,
                     100% 0,
                     100% calc(100vw / var(--φ) / var(--φ)),
                     calc(100vw / var(--φ) / var(--φ)) calc(100vw / var(--φ) / var(--φ)),
                     calc(100vw / var(--φ) / var(--φ)) calc(100vw / var(--φ) / var(--φ) / var(--φ)),
                     0 calc(100vw / var(--φ) / var(--φ) / var(--φ)));
}
