@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400i);

:root {
  --φ: 1.618;
  --font-size: 108.33%; /* 17.33px = 13pt */
  --line-height: 1rem * var(--φ);
}

/*
//  .config｡normalization
*/

.config｡normalization * {
  padding: 0;
  margin: 0;
  transition: 0.25s;
}

.config｡normalization a {
  color: inherit;
  text-decoration: none;
}

.config｡normalization img {
  max-width: 100%;
}

.config｡normalization :focus {
  outline: 1px dotted;
  animation: outline-fade-in 0.75s ease-in-out infinite alternate;
}

@keyframes outline-fade-in {
  0% {
    outline-color: transparent;
  }
}

/*
//  .config｡border-box
*/

.config｡border-box {
  box-sizing: border-box;
}

.config｡border-box *,
.config｡border-box ::before,
.config｡border-box ::after {
  box-sizing: inherit;
}

/*
//  .config｡modular-scale
*/

.config｡modular-scale h1 {
  font-size: calc(var(--font-size) * var(--φ) * var(--φ) * var(--φ));
}

.config｡modular-scale h2 {
  font-size: calc(var(--font-size) * var(--φ) * var(--φ));
}

.config｡modular-scale h3 {
  font-size: calc(var(--font-size) * var(--φ));
}

/*
//  .config｡vertical-rhythm
//  var: --font-size
//  var: --line-height
*/

.config｡vertical-rhythm {
  font-size: var(--font-size);
}

.config｡vertical-rhythm > body {
  line-height: calc(var(--line-height));
}

/*
//  .config｡vertical-rhythm-guide
*/

.config｡vertical-rhythm-guide {
  background-image: url(https://basehold.it/i/28/454343); /* 28px = 21pt */
}

/*
//  .structural｡grid
*/

.structural｡grid { /**/
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "header header"
                       "summary contact";
} /**/

/*
//  .structural｡positioner & .structural｡positionee
*/

.structural｡positioner {
  position: relative;
}

.structural｡positionee {
  position: absolute;
  z-index: 1;
}

/*
//  .structural｡motion-picture
*/

figure.structural｡motion-picture {
  position: relative;
  overflow: hidden;
}

figure.structural｡motion-picture > img:first-child {
  display: block; /* https://goo.gl/qXVGmf */
}

figure.structural｡motion-picture > img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

/*
//  .presentational｡paper
//  var: --line-height
//  https://paulund.co.uk/learn-css-box-shadow/
*/

.presentational｡paper {
  position: relative;
  margin: calc(var(--line-height)) auto;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.presentational｡paper::after {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  height: 100%;
  z-index: -1;
  border-radius: 100px / 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/*
//  #this
//  var: --φ
*/

#this {
  background: url(/images/backdrop.jpg) 60% / cover fixed;
}

#this > .presentational｡paper {
  width: calc(100vw / var(--φ));
  font-family: 'Alegreya', serif;
  hyphens: auto;
}

/*
//  #grid
*/

#grid⟦header⟧ {
  grid-area: header;
}

#grid⟦summary⟧ {
  grid-area: summary;
}

#grid⟦contact⟧ {
  grid-area: contact;
}

/*
//  #grid⟦header⟧
*/

#grid⟦header⟧⟦heading⟧ {
  right: 0;
  bottom: 0;
  font-family: 'EB Garamond', serif;
  background-color: white;
}

#grid⟦header⟧⟦subheading⟧ {
}

/*
//  #grid⟦header⟧⟦portraiture⟧
//  var: --φ
*/

#grid⟦header⟧⟦portraiture⟧ {
  height: calc(100vw / var(--φ) / var(--φ));
}

#grid⟦header⟧⟦portraiture⟧ > img {
  position: absolute;
  top: -12%;
}

#grid⟦header⟧⟦portraiture⟧⟦1⟧ {
  animation: opacity-fade-in calc(1s / 6) linear calc(-1s / 6) infinite alternate;
}

#grid⟦header⟧⟦portraiture⟧⟦2⟧ {
  animation: opacity-fade-in calc(1s / 6) linear infinite alternate;
}

@keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
}







/**
* Style
*/


a {
  color:#4F6128;
  text-decoration-skip: ink;
}
abbr[title] {
  border-bottom: 1px dotted #4F6128;
  cursor: help;
}
p {
  margin: .6em 0;
}

ul {
  padding: 0;
  list-style: square;
}
ul ul {
  padding-left: 3em;
}

address {
  font-style: normal;
}
section > h1 {
  box-shadow: calc(-8vw + .6em) 0 white, calc(-8vw - .1em) 0 0 -.1em;
}
li {
  page-break-inside: avoid;
}
ol.timeline {
  padding: 0;
  border: 0 solid #ddd;
  border-width: 4px 0;
}
ol.timeline > li {
  list-style: none;
  padding: .4em 0;
  border: 1px solid white; /* Chrome printing bug */
  border-top-color: #ccc;
}
ol.timeline > li:first-child {
  border-top: 0;
}
ol.timeline > li > p {
  margin: 0;
}
ol.timeline > li > .date {
  float: left;
  margin-left: .1em;
  max-width: 8rem;
  color: gray;
  font-size: 110%;
}
ol.timeline > li > .date ~ p {
  margin-left: 9rem;
}
.note {
  margin-top: .4em;
  font-size: 75%;
}
.note a:not(:hover):not(:active) {
  color: inherit;
}
footer {
  margin-top: 3em;
  font-style: italic;
}
.amp {
  font-style: italic;
}
#projects .timeline li p:nth-of-type(2) a:first-of-type {
  font-weight: bold;
}
